:root {
  /*Color Theme*/

  --blue-1: #214ed3;
  --blue-2: #315ad2;
  --blue-3: #4c6fd6;
  --blue-4: #6782d4;
  --blue-5: #8497d2;
  --blue-6: #a4b2da;
  --blue-7: #d4ddf5;

  --red-1: #de006f;
  --red-2: #dc388a;
  --red-3: #de5e9e;
  --red-4: #e385b4;
  --red-5: #efa0c8;
  --red-6: #eabad3;
  --red-7: #edd4e1;

  --green-1: #1de383;
  --green-2: #67f4b0;
  --green-3: #8cf1c0;
  --green-4: #9cedc6;
  --green-5: #b1eed2;
  --green-6: #c0e7d4;
  --green-7: #ddeee6;

  --white-1: #fff;
  --white-2: #eaf2ff;
  --white-3: #dfe7ff;

  --black-1: #20273c;
  --black-2: #4b4f5b;
  --black-3: #787c83;

  --primary-dark-strong: #143187;
  --primary-dark: #1d44ba;
  --primary: var(--blue-1);
  --primary-soft: #979db0;
  --primary-soft-light: #d8e1fb;

  --secondary-dark: #c30263;
  --secondary-dark-strong: #a00251;
  --secondary: var(--red-1);
  --secondary-soft: #da91b7;
  --secondary-soft-light: var(--red-7);

  --tertiary-dark: #1ac371;
  --tertiary-dark-strong: #13ab62;
  --tertiary: var(--green-1);
  --tertiary-soft: #8cb5a1;
  --tertiary-soft-light: var(--green-7);

  /*Generic texts*/

  --text-size-1: 0.5em;
  --text-size-2: 0.75em;
  --text-size-3: 0.875em;
  --text-size-4: 1em;
  --text-size-5: 2em;
  --text-size-6: 3em;
  --text-size-7: 4em;
  --text-size-8: 5em;
  --text-size-9: 6em;
  --text-size-10: 7em;
  --text-size-11: 8em;
  --text-size-12: 9em;

  /*Title*/

  --title-primary: var(--text-size-5);
  --title-secondary: calc(var(--text-size-5) - 0.75em);
  --title-tertiary: var(--title-size-3);

  /*Paragraph*/

  --text-primary: var(--text-size-3);
  --text-secondary: var(--text-size-2);
  --text-tertiary: var(--text-size-1);

  /*Border*/

  --border-primary: 8px;
  --border-secondary: 16px;
  --border-tertiary: 32px;

  /*COMPONENTS------------------------------------------------*/

  /*Image fallback*/
  --fam-image-fallback: "/assets/images/fallback-black.png";

  /*Container*/
  --fam-container-max-width: 80em;
  --fam-container-margin-left: auto;
  --fam-container-margin-right: auto;
  --fam-container-border-radius: 0;
  --fam-container-border-width: 0;
  --fam-container-border-style: none;
  --fam-container-border-color: none;
  --fam-container-background: none;

  /*Avatar*/
  --fam-avatar-size-1: 1em;
  --fam-avatar-size-2: 2em;
  --fam-avatar-size-3: 3em;
  --fam-avatar-size-4: 4em;
  --fam-avatar-size-5: 5em;
  --fam-avatar-size-6: 6em;
  --fam-avatar-size-7: 7em;
  --fam-avatar-size-8: 8em;
  --fam-avatar-size-9: 9em;
  --fam-avatar-size-10: 10em;
  --fam-avatar-size-11: 11em;
  --fam-avatar-size-12: 12em;

  /*TextInput*/

  --text-input-text-color: var(--white-3);
  --text-input-background: #0a0910;

  --text-input-border-color: #303245;
  --text-input-border-width: 1px;
  --text-input-border-style: solid;
  --text-input-border-radius: var(--border-primary);

  --text-input-outline-width: 1px;
  --text-input-outline-color: #444660;

  --text-input-label-size: var(--text-size-3);
  --text-input-label-color: var(--black-3);

  --text-input-invalid-background: #11010e;
  --text-input-invalid-border-color: #563642;
  --text-input-invalid-text-color: #aa5479;

  --text-input-valid-background: #011111;
  --text-input-valid-border-color: #05413d;
  --text-input-valid-text-color: #14877f;
}
